workflows/W2-AI-Powered Job Scoring with Claude API.json
{
  "name": "W2-AI-Powered Job Scoring with Claude API",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        144
      ],
      "id": "a59e03d6-0337-41e1-9cb4-087bfa983341",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "3399bdd8-248c-80fb-be10-f701e8c3d55f",
          "mode": "list",
          "cachedResultName": "Jobs",
          "cachedResultUrl": "https://www.notion.so/3399bdd8248c80fbbe10f701e8c3d55f"
        },
        "limit": 20,
        "simple": false,
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Scoring Status|select",
              "condition": "equals",
              "selectValue": "Pending"
            }
          ]
        },
        "options": {
          "sort": {
            "sortValue": [
              {
                "timestamp": true,
                "key": "created_time",
                "direction": "descending"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        224,
        144
      ],
      "id": "25528aba-cc0f-43e1-8479-25d53f7bec2b",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "LU3vC29KAXOorisn",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        144
      ],
      "id": "aa6a30ec-21ea-4bbb-8b6f-5b40aac10390",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\n\nconst currentItem = $input.all()[0].json;\nconst pageId = String(currentItem.id);\nconst props = currentItem.properties;\n\nconst title = props['Job Title']?.title?.[0]?.plain_text || 'Not provided';\nconst company = props['Company']?.rich_text?.[0]?.plain_text || 'Not provided';\nconst location = props['Location']?.rich_text?.[0]?.plain_text || 'Not provided';\nconst desc = (props['Job Description']?.rich_text?.[0]?.plain_text || 'Not provided').slice(0, 1500);\n\n// Pre-initialize result — this ALWAYS gets returned at the bottom\nconst result = {\n  pageId: pageId,\n  total_score: 0,\n  verdict: 'Error',\n  reason: 'Not scored yet',\n  breakdown: 'Role: 0/35 | Location: 0/25 | Experience: 0/20 | Skills: 0/20'\n};\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.anthropic.com/v1/messages',\n    headers: {\n      'x-api-key': 'YOUR_ANTHROPIC_API_KEY',\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 300,\n      system: 'Return ONLY a raw JSON object, no markdown. Score this job for Nibras, a CCNA-certified IT intern in Dubai. STRICT LIMITS: role_score max 35, location_score max 25, experience_score max 20, skills_score max 20. total_score = role_score + location_score + experience_score + skills_score. Format: {\"total_score\":0,\"verdict\":\"Apply Now\",\"role_score\":0,\"location_score\":0,\"experience_score\":0,\"skills_score\":0,\"reason\":\"one sentence\"}. Verdicts: 80-100=Apply Now, 60-79=Good Fit, 40-59=Maybe, 0-39=Skip.',\n      messages: [{ role: 'user', content: 'Score:\\nTitle: ' + title + '\\nCompany: ' + company + '\\nLocation: ' + location + '\\nDesc: ' + desc }]\n    },\n    json: true\n  });\n\n  const raw = String(response && response.content && response.content[0] ? response.content[0].text : '{}');\n  const match = raw.match(/\\{[\\s\\S]*\\}/);\n\n  if (match) {\n    const p = JSON.parse(match[0]);\n    result.total_score = Number(p.total_score) || 0;\n    result.verdict = String(p.verdict || 'Error');\n    result.reason = String(p.reason || 'No reason');\n    result.breakdown = 'Role: ' + (Number(p.role_score)||0) + '/35 | Location: ' + (Number(p.location_score)||0) + '/25 | Experience: ' + (Number(p.experience_score)||0) + '/20 | Skills: ' + (Number(p.skills_score)||0) + '/20';\n  } else {\n    result.reason = 'Claude returned: ' + raw.slice(0, 100);\n  }\n\n} catch (e) {\n  result.reason = 'Caught error: ' + String(e && e.message ? e.message : e).slice(0, 150);\n}\n\n// ALWAYS returned — never inside try/catch\nreturn [{ json: result }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        80
      ],
      "id": "be1548a1-f73b-41a2-a3c2-5f715a4cab33",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.pageId }}",
          "mode": "id"
        },
        "simple": false,
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "AI Score|number",
              "numberValue": "={{ $json.total_score }}"
            },
            {
              "key": "AI Verdict|select",
              "selectValue": "={{ $json.verdict }}"
            },
            {
              "key": "Score Breakdown|rich_text",
              "textContent": "={{ $json.breakdown }}"
            },
            {
              "key": "Scoring Status|select",
              "selectValue": "Scored"
            },
            {
              "key": "Scored At|date",
              "date": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        896,
        144
      ],
      "id": "50c372a7-2001-4586-8201-d4377b713cae",
      "name": "Update a database page",
      "credentials": {
        "notionApi": {
          "id": "LU3vC29KAXOorisn",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a database page": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "89ad0176-8c80-4302-922e-551a57749d1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fcb5b583f8243d143972c11d3c7fa9576cb9dcd125227be36f39751c260181b1"
  },
  "id": "aWm49OwzyHxnwq8r",
  "tags": []
}